@import "tailwindcss"

.noto-Serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-container{
  max-width: 70rem;
  margin: 2rem auto;
}
.backgroud-color{
  background-color: #F6F9FF;
}